{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Animals{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Animals</h1>
        {% if animals %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="50%"> ID </th>
                  <th width="25%"> Sex </th>
                  <th width="25%"> Age</th>
                </tr>
              </thead>
              <tbody>
              {% for animal in animals %}
                <tr>
                  <td> {{ animal.animal_id }} </td>
                  <td> {{ animal.sex }} </td>
                  <td> {{ animal.age}} </td>
                  <td>
                    <a href="{{ url_for('admin.edit_animal', id=animal.id) }}">
                      <i class="fa fa-pencil"></i> Edit 
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('admin.delete_animal', id=animal.id) }}">
                      <i class="fa fa-trash"></i> Delete 
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No animals have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('admin.add_animal') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add Animal
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}